<div class="main-block ">
  <div class="animation-starter">
    <div class="animation">
      <span class="tell-us">whos the handsome pug?</span>
      <div class="kit-says"></div>
      <div class="kit"></div>
    </div>
  </div>
  <div class="header">
    <a class="home">HOME</a>
    <a class="about">ABOUT</a>
    <a class="team">TEAM</a>
    <div class="logo"></div>
    <a class="galerie">GALERIE</a>
    <a class="forum">FORUM</a>
    <a class="contact">CONTACT</a>
  </div>
  <div class="info">
    <div class="bigtext">Welcome to the pug lovers website</div>
    <div class="littletext">For everyone, from beginners to experts</div>
    <div class="infoBtn">
      <button class="buyDigits">Log In</button>
      <button class="seeFeatures">See the Features</button>
    </div>
  </div>
  <div class ="social">
    <div class ="facebook"></div>
    <div class ="twitter"></div>
    <div class ="instagram"></div>
  </div>
</div>
<div class="secondary-block">
  <div class="specific">Specificity of the breed</div>
</div>